*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
body{
    background-image: url(srn2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
.btn{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    background-color: rgb(240, 144, 35);
}
h1{
    margin-right: 900px;
    margin-top: 10px;
    color: rgb(90, 57, 20);;
}
a{
    text-decoration: none;
    color: rgb(116, 74, 26);
    font-size: 20px;
    padding: 20px;
}
.txt{
    margin-top: 460px;
    margin-left: 10px;
    font-size: 30px;
    color: rgb(255, 207, 180);
    text-shadow: -5px 5px 5px black;
}
a:hover{
    background-color: rgb(116, 74, 26);
    color: rgb(240, 144, 35);
    text-shadow: -3px 3px 3px black;
}